<!DOCTYPE html>
<html lang="en">
    <style>
    .navbar {
        height: 60px;
        width: 100%;
    }

    .navbar img {
        width: 50px;
        margin-right: 2px;
        object-fit: contain;
    }

    #normal-container-height {
        height: 30px;
        text-align: center;
    }

    .navbar {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .navbar-brand img {
        height: 30px;
        margin-right: 10px;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .nav-link {
        color: #333;
    }

    .nav-link:hover {
        color: #F38A31;
    }

    .navbar-search {
        display: flex;
        align-items: center;
    }

    .navbar-search form {
        margin: 0;
    }

    .navbar-search .form-control {
        border-radius: 0;
        border-color: #ccc;
    }

    .navbar-search .btn {
        border-radius: 0;
        background-color: #F38A31;
        border-color: #F38A31;
        color: #fff;
    }

    .navbar-search .btn:hover {
        background-color: #1D2B53;
        border-color: #1D2B53;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-item:hover {
        background-color: #F38A31;
        color: #fff;
    }

    .dropdown-item.active {
        background-color: #1D2B53;
        color: #fff;
    }

    @@media screen and (max-width: 767px) {


        .navbar {
            height: auto;
        }

        .navbar img {
            margin-right: 0;
        }

        .navbar-search {
            margin-top: 10px;
        }

        .navbar-search form {
            flex: 1;
        }

        .navbar-search .btn {
            margin-top: 10px;
        }
        @@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}
@@media (min-width: 768px) {
  .container {
    width: 80%;
  
    .navbar {
            height: auto;
        }
}
@@media (min-width: 992px) {
  .container {
    width: 70%;
  }
  .navbar {
            height: auto;
        }
}
@@media (min-width: 1200px) {
  .container {
    width: 60%;
  }
  .navbar {
            height: auto;
        }
}
    }
</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebCocktailBar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img src ="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/57676/tropical-drink-emoji-clipart-md.png" alt="logo" />
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="ContactUs">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                        </li>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="MyOrders">MyOrders</a>
                            </li>
                        }
                        @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                        {
                            <li class="nav-item active">
                                <div class="dropdown show">
                                    <a class="nav-link active dropdown-toggle" href="e"
                                       id="dropdownMenuLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                       Statistic Module
                                    </a>
                                     
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                         <a class="dropdown-item" asp-controller="Client" asp-action="Index">Clients</a>
                                        <a class="dropdown-item" asp-controller="Order" asp-action="Index">Orders</a>
                                        <a class="dropdown-item" asp-controller="Statistics" asp-action="Index">Statistics</a>
                                        <a class="dropdown-item" asp-controller="Contact" asp-action="Index">Message List</a>
                                    </div>

                                </div>
                            </li> 
                        }
                        @if (this.User.Identity.IsAuthenticated) 
                        {
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SignatureProduct" asp-action="Index">SignatureCocktail</a>
                                 </li>
                        }
                        

                    </ul>
                    <div class="navbar-search ml-auto">
  <form asp-controller="Product" asp-action="Index" method="get">
    <div class="input-group">
      <input type="text" class="form-control" name="searchStringProductName" placeholder="Search for a cocktail...">
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-secondary">
          <i class="fas fa-search"></i> <span class="button-text">Search</span>
        </button>
      </div>
    </div>
  </form>
</div>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    <div id="normal-container-height">
        &copy; 2023 - WebCocktailBar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Contacts</a>
    </div>
</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</script>
</body>
</html>
