   @{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
     @Html.Partial("Over18Popup")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-CpfRa1hK08U6f3qgG7Q0i47d91w7VWrvKfZ5r5YcdiF0/c+CzvrO9X0y6hLdE5KBNKeRwTx0AzAsZ0sjlU6ukQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="path/to/your/stylesheet.css">
    <style>
        body {
            background-color: #F6EEE0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #333;
        }

        .container {
            max-width: 1500px;
            margin: 0 auto;
            padding: 2rem;
            text-align: center;
        }

        .header {
            font-size: 3rem;
            margin-bottom: 2rem;
            color: #1D2B53;
        }

        .subtitle {
            font-size: 1.2rem;
            margin-bottom: 2rem;
            color: #F38A31;
        }

        .link {
            display: inline-block;
            margin-top: 1rem;
            background-color: #F38A31;
            color: #fff;
            border-radius: 0.5rem;
            padding: 0.5rem 2rem;
            transition: all 0.3s ease;
        }

        .link:hover {
            background-color: #1D2B53;
            color: #fff;
        }

        .fa {
            margin-right: 0.5rem;        
        }
        
    </style>
</head>
<body>
    <div class="text-center py-5"> <h1 class="display-3 font-weight-bold text-uppercase mb-4 animate__animated animate__fadeInDown text-beige"> <span>WebCocktailBar</span> </h1> <div class="box">
  <p class="lead animate__animated animate__fadeIn text-beige"><strong>Welcome</strong> to our virtual cocktail bar, where you can enjoy the best cocktails from the comfort of your home. Our expert mixologists have created a menu of classic and contemporary cocktails that are sure to tantalize your taste buds.
  Ordering from our bar is easy – simply browse our menu, select your drinks, and we'll deliver them straight to your doorstep. We also offer make your own Cocktail-SignatureCocktail tab, where you can see all signature cocktails that are created by our community and also you can create your own cocktail.Just make the recipe,choose alcohol and add photo.You can make everything,fell free,and have fun.This is what the site is all about!</p>
</div> </div>

    <link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet">
</body>
</html>
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5 col-12">
              <img src="https://secretldn.com/wp-content/uploads/2019/05/shutterstock_1342996358-2-1024x683.jpg" class="mx-auto d-block img-fluid" alt="slide">
            </div>
            <div class="col-md-7 col-12">
              <div class="text-box h-100">
                <h4 class="text-center">
                  A bartender is a creative mastermind who brings magic to your glass. They are like culinary artists, using spirits, mixers, and garnishes to craft a symphony of flavors that tantalize your taste buds. A bartender has an encyclopedic knowledge of spirits, liquors, and liqueurs, and can recommend the perfect drink to suit your mood, occasion, or palate. They are experts in creating cocktails that are both visually stunning and deliciously satisfying, using fresh ingredients and innovative techniques. Behind the bar, they are the ultimate multitaskers, juggling multiple orders and keeping the drinks flowing while maintaining a warm and welcoming atmosphere. In short, a bartender is the heart and soul of any great bar, and is dedicated to making your drinking experience unforgettable.
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
  <div class="mask flex-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-12">
          <div class="text-box h-100">
            <h4 class="text-center">
              Looking to shake things up and add some excitement to your next party or gathering? Look no further than cocktails! These delicious and refreshing drinks come in endless varieties and can be customized to suit any taste preference. Whether you prefer a sweet and fruity drink or a more complex and sophisticated cocktail, there is sure to be a cocktail out there that will suit your preferences. So why settle for boring beer or wine when you can sip on something truly exciting and unique? Grab a shaker and get mixing, and watch as your guests are wowed by your mixology skills! In our site you can not only look at recipes from other people and from our head bartender to impress someone, but you can also directly order and have it delivered to you at the party
            </h4>
          </div>
        </div>
        <div class="col-md-5 col-12">
          <img src="https://www.marthastewart.com/thmb/Ydf7lvVmcxiRFEHocZZTG6ZWQGw=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/cocktail-garnishes-beauty-1745-0320-5fc5a7b4c10248478a1b66583b844d04.jpg" class="mx-auto d-block img-fluid" alt="slide">
        </div>
      </div>
    </div>
  </div>
</div>


    <div class="carousel-item">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5 col-12">
              <img src="https://cf.ltkcdn.net/cocktails/images/std/287783-800x533-boston-shaker-cocktail.webp" class="mx-auto d-block img-fluid" alt="slide">
            </div>
            <div class="col-md-7 col-12">
              <div class="text-box h-100">
                <h4 class="text-center">
                  Are you ready to unleash your inner mixologist and impress your friends with your cocktail-making skills?Mixing cocktails can be a breeze with just a few steps. First, gather all the tools and ingredients needed for your chosen cocktail. Fill your shaker with ice and add the measured ingredients. Then, shake it up vigorously for 10-15 seconds to get everything mixed and chilled. Finally, strain it into a glass filled with ice and add a fancy garnish if you desire. You'll be a mixology pro in no time,And that's it! With just a few simple steps, you can create a delicious cocktail right in the comfort of your own home. So, grab your shaker and get ready to impress your friends and family with your newfound mixology skills. "Shake, pour, garnish, and enjoy! But remember, if you accidentally create a disaster, just call it a new invention and pretend it was intentional. Cheers!".Guess where you can see the recipe
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="carousel-item">
    <div class="mask flex-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                    <div class="text-box">
                        <h4>
                            Drinking can be a lot of fun, but it's important to do it responsibly. Otherwise, you might end up doing things you'll regret later. Like that one time I tried to ride a shopping cart down a hill after a few too many drinks. Trust me, it didn't end well.

So, how can you enjoy your drinks without waking up with a hangover or worse, in jail? Well, the first step is to set a limit for yourself and stick to it. And make sure that limit is reasonable. Sure, it might be tempting to try and keep up with your friends who are twice your size, but trust me, it's not worth it. You don't want to be that person who ends up dancing on tables or singing karaoke off-key.Remember, the goal is to have fun and make memories, not to put yourself or others in danger. So, be responsible, be safe, and above all, have a great time! Cheers!
                        </h4>
                    </div>
                </div>
                <div class="col-md-5 col-12 order-md-2 order-1">
                    <img src="https://thumbs.dreamstime.com/z/vodka-ice-sticker-icon-simple-thin-line-outline-vector-alcohol-drink-icons-ui-ux-website-mobile-application-179927208.jpg" width="440" height="215" class="mx-auto" alt="slide">
                </div>
            </div>
        </div>
    </div>
</div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev" <style></style> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
</div>
<style>
    @@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
    @@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
    .carousel-item img {
        border: 5px solid #F5DEB3;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        max-width: 440px;
        max-height: 300px;
        height: auto;
    }
    .mx-auto {
        max-height: 300px;
        max-width:440px
    }
    .carousel slide {
        max-height:300px;
        max-width: 1200px
    }
    .box {
  border: 5px solid #F5DEB3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

.box p:first-of-type {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.box p:last-of-type {
  margin-bottom: 0;
  font-style: italic;
}
.text-box {
        background-color: #F5DEB3;
        border: 5px solid #F5DEB3;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 20px;
    }
    
    .text-box h4 {
        color: #1D2B53;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        line-height: 1.5;
        margin: 0;
    }
    .slide-content {
  font-size: 16px;
  padding: 10px;
  margin: 5px;
}
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<style>
    .carousel-control-prev, .carousel-control-next {
        width: 2%;  adjust the width to your liking /
        margin-left: -6%; / adjust the left margin to create some spacing /
        margin-right: -50%; / adjust the right margin to create some spacing 
    }
</style>