@model WebCocktailBar.Models.Product.ProductCreateVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductCreateVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TasteId" class="control-label"></label>
               @* <input asp-for="TasteId" class="form-control" />*@
               <select asp-for="TasteId" class="form-control text-center">
                   @foreach (var taste in Model.Tastes)
                    {
                        <option value="@taste.Id">@taste.Name</option>
                    }

               </select>
                <span asp-validation-for="TasteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
               @* <input asp-for="TasteId" class="form-control" />*@
               <select asp-for="CategoryId" class="form-control text-center">
                   @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }

               </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MethodOfPreparation" class="control-label"></label>
                <input asp-for="MethodOfPreparation" class="form-control" />
                <span asp-validation-for="MethodOfPreparation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

